@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,400;1,700&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.corpo{
    display: block;
    width: 1140px;
    margin: 10px auto 20px auto;
    margin-right: 525px;
}

.menu{
    display: block;
    list-style: none;
    margin-left: 660px;
    position: absolute;
    margin-top: 53px;
}

.menu li{
    display: inline-block;
    color: #54524f;
    padding: 10px;
    font-weight: bold;
    margin-left: 40px;
}

.menu a{
    text-decoration: none;
    color: #54524f;
}

.menu a:hover{
    color: #c3bfbc;
    transition: 0.5s;
}

.logo{
    display: block;
    position: absolute;
    margin-right: 20px;
    margin-left: 90px;
    margin-top: 35px;
}

.busca{
    margin-left: 1225px;
    position: absolute;
    margin-top: 45px;
}

.busca input{
    background-color: #c3bfbc;
    padding: 6px;
    background-position: 84%;
    border-radius: 50px;
    border: 0px;
    width: 140px;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    color: #54524f;
}

.botao-pesquisa{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    margin-top: 7px;
    margin-left: -50px;
    position: absolute;
}

.topo-menu{
    margin-top: -30px;
}

.imagem-topo{
    margin-top: -75px;
    float: left;
}

.texto-topo{
    font-family: 'Open Sans', sans-serif;
    color: #deb37e;
    font-size: 30pt;
    float: left;
    margin-top: -720px;
    margin-left: 60px;
}

.texto-topo h2{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 20pt;
    color: #54524f;
    letter-spacing: 9px;
    margin-top: -50px;
}

.texto-topo p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 16pt;
    color: #54524f;
    margin-top: 110px;
}

.texto-topo a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: #776c64;
    float: left;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
}

.texto-topo a:hover{
    background-color: gray;
    color: #deb37e;
    transition: 0.5s;
}

.baixo-topo{
    float: left;
    margin-top: -155px;
}

.texto-meiotopo{
    text-align: center;
    float: left;
    margin-left: 350px;
    margin-top: -70px;
}

.texto-meiotopo h1{
    font-family: 'Open Sans', sans-serif;
    color: #deb37e;
    font-size: 30pt;
}

.texto-meiotopo p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 16pt;
    color: #54524f;
    position: relative;
}

.meiotopo{
    margin-left: 155px;
    position: absolute;
    margin-top: 1100px;
}

.meiotopo img{
    margin-right: 65px;
}

.sombra{
    margin-top: 452px;
    margin-left: -1376px;
    position: absolute;
}

.txt-meiotop1{
    position: absolute;
    text-align: justify;
    margin-top: -5px;
    background-color: #7f7770;
    color: white;
    padding-top: 80px;
    padding-bottom: 120px;
    padding-left: 107px;
    padding-right: 106px;
}

.txt-meiotop2{
    position: absolute;
    text-align: justify;
    margin-left: 408px;
    background-color: #7f7770;
    color: white;
    margin-top: -5px;
    padding-top: 80px;
    padding-bottom: 120px;
    padding-left: 107px;
    padding-right: 106px;
}

.txt-meiotop3{
    position: absolute;
    text-align: justify;
    margin-left: 817px;
    background-color: #7f7770;
    color: white;
    margin-top: -5px;
    padding-top: 80px;
    padding-bottom: 120px;
    padding-left: 107px;
    padding-right: 106px;
}

.txt-meiotop1 h1, .txt-meiotop2 h1, .txt-meiotop3 h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.txt-meiotop1 p, .txt-meiotop2 p, .txt-meiotop3 p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-left: -32px;
    margin-top: -5px;
}

.botao-mostrarmais a{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    letter-spacing: 3px;
    position: absolute;
    margin-top: 400px;
    margin-left: 460px;
    background-color: #776c64;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 35px;
    text-decoration: none;
    color: white;
}

.botao-mostrarmais a:hover{
    background-color: gray;
    color: #deb37e;
    transition: 0.5s;
}

.topo-meio{
    margin-top: 600px;
    margin-left: -155px;
    margin-right: -61px;
    background-color: #7f7770;
}

.topo-meio h1{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: -525px;
    margin-left: 783px;
    font-size: 34pt;
    color: white;
}

.topo-meio p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    position: absolute;
    margin-top: -350px;
    margin-left: 785px;
    font-size: 20pt;
    color: white;
}

.topo-meio a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    margin-top: 635px;
    margin-left: 5px;
    background-color: #e2a355;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    letter-spacing: 5px;
    text-decoration: none;
    position: absolute;
    color: white;
}

.topo-meio a:hover{
    background-color: rgb(255, 255, 255);
    color: #e2a355;
    transition: .6s;
}

.topo-meio2{
    position: absolute;
    margin-top: -4px;
    background-color: #deb37e;
}

.topo-meio2 img{
    margin-right: 1px;
    margin-bottom: -4px;
    margin-left: 718px;
}

.topo-meio2 h1{
    margin-left: 80px;
}

.topo-meio2 p{
    margin-left: 80px;
    margin-right: 800px;
}

.topo-meio2 a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    margin-top: 635px;
    margin-left: -1350px;
    background-color: #e2a355;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    letter-spacing: 5px;
    text-decoration: none;
    position: absolute;
    color: white;
}

.topo-meio2 a:hover{
    background-color: rgb(255, 255, 255);
    color: #e2a355;
    transition: .6s;
}

.meio{
    margin-top: 3572px;
    background-color: #99928d;
    margin-right: -300px;
    padding-bottom: 100px;
}

.meio-baixo{
    margin-top: -80px;
}

.meio h1, p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    position: absolute;
}

.meio p{
    margin-top: 240px;
    margin-left: 250px;
    font-style: italic;
    font-size: 16pt;
}

.meio h1{
    margin-top: 135px;
    margin-left: 380px;
    font-size: 35pt;
    
}

.meio-baixo #mid{
    margin-top: -275px;
    float: left;
}

.meio-baixo #baixo{
    margin-top: -137px;
    width: 1500px;
}

#texto-meiobaixo{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: -644px;
    margin-left: 880px;
    text-align: right;
}

#texto-meiobaixo h1{
    color: #deb37e;
    font-size: 60px;
    margin-bottom: -15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}

#texto-meiobaixo h2{
    color: #54524f;
    font-size: 80px;
    margin-top: -15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
}

.topo-baixo img{
    margin-left: 883px;
    margin-top: 150px;
    position: absolute;
}

.txt-baixo1 h1, .txt-baixo2 h1, .txt-baixo3 h1 {
    font-family: 'Open Sans', sans-serif;
    color: #deb37e;
    position: absolute;
    margin-top: -25px;
    font-size: 18pt;
}

.txt-baixo1 p, .txt-baixo2 p, .txt-baixo3 p{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    color: black;
    font-style: italic;
    text-align: justify;

}

.txt-baixo1{
    margin-left: 125px;
}

.txt-baixo2{
    margin-left: 575px;
}

.txt-baixo3{
    margin-left: 995px;
}

.cit p{
    font-family: 'Open Sans', sans-serif;
    color: #3f3f3f;
    font-style: italic;
    margin-left: 369px;
    font-size: 15pt;
    margin-top: 425px;
}

.cit h3{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    color: #3f3f3f;
    margin-left: 625px;
    margin-top: 590px;
}

.cit img{
    margin-left: 685px;
    margin-top: 330px;
}